<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <form action="POST">
        <label for="name">What's this food called?</label>
        <input type="text" name="name" id="name">
        <label for="delicious">Is it delish?</label>
        <input type="checkbox" name="delicious id="delicious">
        <button>Add food</button>
    </form>
</body>
</html>
